

.header
{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;

    &__brand
    {
        font-size: 18px;
        color: rgb(196, 223, 247);
    }
    &__menus
    {
        display: flex;
        list-style-type: none;
    }
    #{&}__link
    {
        margin-right: 20px;
        font-size: 14px;
    }
    #{&}__link a 
    {
        color: #fff;
        text-decoration: none;
    }
}